body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
p {
	color: .Oranges .q0-3{fill:rgb(254,230,206)} .Oranges .q1-3{fill:rgb(253,174,107)} .Oranges .q2-3{fill:rgb(230,85,13)
}